<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.acer.myapplication">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/lasttalkylogo"
        android:label="Talky"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login_activite">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".startActivity" />
        <activity android:name=".MainActivity4">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".Pocket2" />
        <activity android:name=".Pocket3" />
        <activity android:name=".Pocket4" />
        <activity android:name=".Pocket5" />
        <activity android:name=".Slide">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivitychat" />
        <activity android:name=".enter_ip_add">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".MainLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".monkey" />
        <activity android:name=".sheep" />
        <activity android:name=".Sign_up" />
        <activity
            android:name=".demarage"
            android:screenOrientation="portrait" />
        <activity android:name=".statistique" />
        <activity android:name=".niveaudeux" />
        <activity android:name=".choisir_niveaux_dif"></activity>
        <activity android:name=".niveautrois" />
        <activity android:name=".niveauquatre" />
        <activity android:name=".niveaucinq" />
        <activity android:name=".MainActivitymultijoueur" />
        <activity android:name=".enter_ip_add_chat" />
        <activity android:name=".Slide2" />
        <activity android:name=".Slide3" />
        <activity android:name=".niveauunnour" />
        <activity android:name=".niveaudeuxnour" />
        <activity android:name=".niveautroisnour" />
        <activity android:name=".niveauquatrenour" />
        <activity android:name=".niveaucinqenour" />
        <activity android:name=".niveauunart" />
        <activity android:name=".niveaudeuxart" />
        <activity android:name=".niveautroisart" />
        <activity android:name=".niveauquatreart" />
        <activity android:name=".niveaucinqart" />
        <activity android:name=".Slide_for_sport" />
        <activity android:name=".Slide_for_trans" />
        <activity android:name=".Slide_for_arabe" />
        <activity android:name=".Slide_for_techno" />
        <activity android:name=".niveau1_for_sport" />
        <activity android:name=".niveau2_for_sport" />
        <activity android:name=".niveau3_for_sport" />
        <activity android:name=".niveau4_for_sport" />
        <activity android:name=".niveau5_for_sport" />
        <activity android:name=".niveau1_for_trans" />
        <activity android:name=".niveau2_for_trans" />
        <activity android:name=".niveau3_for_trans" />
        <activity android:name=".niveau4_for_trans" />
        <activity android:name=".niveau5_for_trans" />
        <activity android:name=".niveau1_for_medecine" />
        <activity android:name=".Slide_for_geo" />
        <activity android:name=".Slide_for_object" />
        <activity android:name=".Slide_for_tuto" />
        <activity android:name=".Slide_for_medecine" />
        <activity android:name=".niveau2_for_medecine" />
        <activity android:name=".niveau3_for_medecine" />
        <activity android:name=".niveau4_for_medecin" />
        <activity android:name=".niveau5_for_medecin" />
        <activity android:name=".niveau1_for_techno" />
        <activity android:name=".niveau2_for_techno" />
        <activity android:name=".niveau3_for_techno" />
        <activity android:name=".niveau4_for_techno" />
        <activity android:name=".niveau5_for_techno" />
        <activity android:name=".niveau1_for_arabe" />
        <activity android:name=".niveau2_for_arabe" />
        <activity android:name=".niveau3_for_arabe" />
        <activity android:name=".niveau4_for_arabe" />
        <activity android:name=".niveau5_for_arabe" />
        <activity android:name=".niveau1_for_geo" />
        <activity android:name=".niveau2_for_geo" />
        <activity android:name=".niveau3_for_geo" />
        <activity android:name=".niveau4_for_geo" />
        <activity android:name=".niveau5_for_geo" />
        <activity android:name=".niveau1_for_object" />
        <activity android:name=".niveau2_for_object" />
        <activity android:name=".niveau3_for_object" />
        <activity android:name=".niveau4_for_object" />
        <activity android:name=".niveau5_for_object" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>